.my-list{ 
    background-color: #81f7ba;
    padding : 10px 30px; 
    width: 800px; 
    font-size: 30px;
    border: 1px solid #f781d8; 
    box-shadow: 0 0 10px 2px #333333; 
    margin:auto; }
    ol{ margin:12px; }
     p{text-align: center; }